
.score {
	background-color: rgb(247, 246, 246);
	margin: 15px;
	padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	color: green;
	box-shadow: 5px 5px 10px rgb(235, 234, 234);
}

.score h2 {
    margin: 0 0 10px;
}

.score p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

