
.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h2 {
    margin: 0 0 10px;
}

.score p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

