
.question{
    border: 2px solid hsl(214, 60%, 45%);
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    
}
.question h4{
    margin-bottom: 0;
}
.answer-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 15px;
}
.answer-option input{
    cursor: pointer;
}
.answer-option{
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    
    border-radius: 8px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.1);
}