* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.app {
    min-height: 100vh;
    background-color: hsl(210, 40%, 98%);
}
.quiz-layout{
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.quiz-sidebar{
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    min-height: 500px;
    background-color: hsl(0, 0%, 100%);
    
}

.quiz-content{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.explanation-area {
    min-height: 150px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
    padding-left: 30px;
}


.navigation-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.navigation-area button{
    width: 6rem;
    height: 2rem;
    font-family: Arial, sans-serif;

    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 3px 6px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.qtn-progress{
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #181717;
}

.need-help{
    position: relative;
}
.need-help button{
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 200;
    font-size: 14px;
    color: #181717;
    cursor: pointer;
    margin-right: 5px;
}
.submit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.submit-modal {
    width: 90%;
    max-width: 450px;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px hsla(0, 0%, 0%, 0.2);
}
.submit-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.submit-actions button , .close-score-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .quiz-layout {
		margin: 50px 60px;
        width: 80%;
		height: auto;
        grid-template-columns: 1fr;
        gap: 20px;
		font-size: 14px;
    }

    .quiz-content {
        gap: 1.5rem;
    }
}

