* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.app {
    min-height: 100vh;
    background-color: hsl(210, 40%, 98%);
}
.submit-page {
    min-height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}

.submit-page h2 {
    font-size: 32px;
    margin-bottom: 12px;
    color: green;
}




.submit-page button {
    padding: 13px 32px;
    border: none;
    border-radius: 8px;
    background-color: grey;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.submit-page button:hover {
    background-color:green;
    transform: translateY(-2px);
}

.submit-page button:active {
    transform: translateY(0);
}
.quiz-layout{
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.quiz-sidebar{
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    min-height: 500px;
    background-color: hsl(0, 0%, 100%);
    
}

.quiz-content{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.explanation-area {
    min-height: 150px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
    padding-left: 30px;
}


.navigation-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.navigation-area button{
    width: 6rem;
    height: 2rem;
    font-family: Arial, sans-serif;

    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 3px 6px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.qtn-progress{
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.need-help{
    font-size: 14px;
    font-weight: 500;
    color: #222;
    cursor: pointer;
    margin-right: 5px;
}



@media (max-width: 768px) {
    .quiz-layout {
		margin: 50px 60px;
        width: 80%;
		height: auto;
        grid-template-columns: 1fr;
        gap: 20px;
		font-size: 14px;
    }

    .quiz-content {
        gap: 1.5rem;
    }
}

.need-help{
    position: relative;
}
.need-help button{
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
}