* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.app {
    min-height: 100vh;
    background-color: hsl(210, 40%, 98%);
}
.quiz-layout{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.quiz-sidebar{
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    min-height: 500px;
    background-color: hsl(0, 0%, 100%);
}

.quiz-content{
    min-height: 500px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.explanation-area {
    min-height: 150px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.1);
    background-color: hsl(0, 0%, 100%);
}


.navigation-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.navigation-area button{
    width: 6rem;
    height: 2rem;
    font-family: Arial, sans-serif;

    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 3px 6px hsla(0, 0%, 0%, 0.4);
    cursor: pointer;
}



@media (max-width: 768px) {
    .quiz-layout {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .quiz-content {
        gap: 1.5rem;
    }
}